server:
  port: 8080

logging:
  level:
    root: DEBUG

spring:
  data:
    mongodb:
      uri: mongodb://root:password@localhost:27017/solarcomdb?authSource=admin
    rest:
      basePath: /api

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASS}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
